<div class="section news-section white-text">
    <div class="container">
      <h5 class="left-align news-title">Últimas Notícias</h5>
  
      <div class="row no-margin">
        <div class="col s12 m4 left-align" *ngFor="let noticia of [1,2,3]">
          <div class="card custom-card blue lighten-5">
            <div class="card-content white-text">
              <span class="card-title news-card-title">Título da notícia</span>
              <p class="news-card-text">Resumo da notícia ou descrição curta para chamar atenção do leitor.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  