<nav class="nav-extended">
  <div class="nav-wrapper">
    
    <div class="left-side">
      
        <a href="#" class="logo">
          <img src="assets/images/logoUTFPR.png" alt="Logo">
        </a>
     
        <ul id="nav-mobile" class="nav-links hide-on-med-and-down">
          <li><a routerLink="">Início</a></li>
          <li><a routerLink="#">Curso</a></li>
          <li><a routerLink="#">Sobre o projeto</a></li>
          <li><a routerLink="https://www.utfpr.edu.br" target="_blank">Site da UTFPR</a></li>
        </ul>
    </div>

    <div class="right-side">
      <a routerLink="#" class="btn blue waves-effect waves-light">LOGIN</a>
      <a routerLink="#" class="btn-flat blue-text waves-effect">REGISTRO</a>
    </div>
  </div>
</nav>
